*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.contair{
    width: 100%;
    height: 120vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.calculator{
    width: 320px;
    text-align: center;
    background-color: rgba(255,118, 41);
    border-radius: 20px;
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
     align-items: center; 
    padding-left: 15px;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: left;  
    margin-top: 10px; 
}
.title b{
    font-size:25px;
    margin-left: 30px
}
.github a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: right;
    margin-top: 10px;
    margin-left: 40px;
}