*{
  padding: 0px;
  margin: 0px;
  font-family: Verdana;
}
body{
    background-color: black;
}
.conatire{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;    
}
.calculator{
    width: 320px;
    height: 500px;
    background-color: rgba(255, 118, 41, 100);
    border-radius: 15px;
}
.logo{
    width: 320px;
    height: 70px;
    display: flex;
    background-color: aqua;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 12.5px;
    margin-left: 20px;
}
.title{
    color: black;
    font-size: 17px;
    font-style: bold;
    margin-top: 22px;
    margin-left:10px ;    
}
.name{
    color: black;
    font-size: 12px;
    margin-top: 43px;
    margin-left: -97px;
}
